*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --fondo: #091921;
    --fondo2: #0c222d;
    --bl_edition: rgba(255,255,255,0.05);
    --bd_edition: rgba(0,0,0,0.5);
    --bco_puro: #ffffff;
    --azulmaya: rgb(115, 194, 251);
    --cerar: #9d2b2b;
}

body {
    background: var(--fondo);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 0.3fr;
    grid-gap: 8px  ;

    grid-template-areas:"link1 link2 logo link3 link4"
                        "cont cont cont cont cont"
                        "foo foo foo foo foo" ;
}


.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}

.path_rocket {
    fill: var(--azulmaya);
    filter: drop-shadow(-5px -5px 20px rgba(255, 255, 255, 0.7));
}

.path_rocket:hover{
    filter: none;
    cursor: pointer;
}

/* aplicacion*/

.contenedor {
    background: var(--fondo);
    width: 95%;
    height: 95%;
    margin: 10px auto;
    grid-area: cont;
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--bd_edition), 
                -3px -3px 10px var(--bl_edition);
    display: flex;
    align-items: center;
    justify-content: center;

}

.cliente{
    width: 30%;
    padding: 30px;

}
.titulo{
    background: var(--fondo2);
    width: 80%;
    height: 3em;
    font-size: 16px;
    color:var(--azulmaya);
    border: none;
    text-align: center;
    text-transform: uppercase;
}
.descripcion{
    background: var(--fondo2);
    margin: 5px auto;
    width: 80%;
    height: 20em;
    font-size: 16px;
    color: var(--azulmaya);
    text-align: center;
    border: none;
    text-transform: uppercase;
    padding: 15px;
}
.btn_guardar{
    background: var(--fondo2);
    width: 33.33%;
    height: 30px;
    color: var(--azulmaya);
    text-align: center;
    border: none;
    border-radius: 15px ;
    text-transform: uppercase;
    margin: 5px 22%;
}

.almacen{
    width: 70%;
    padding: 30px;
}


.almacen h3{
    font-size: 22px;
    color:var(--azulmaya);
    font-weight: bold;
    text-transform: uppercase;
}

.almacen p {
    font-size: 18px;
    color: var(--azulmaya);

}

.btn_borrar{
    width: 1em;
    height: 1em;
    font-weight: 600;
    font-size: 20px;
    color: var(--cerar);
    position: absolute;
    top: 0;
    right: 0px;
    cursor: pointer;
}

.nota {
    background: var(--fondo2);
    width: 10em;
    height: 10em;
    position: relative;
}